
p{
    color: red;
    text-align: center;
}

h1{
    text-align: center;
}

img{
    width: 25%;
    height: auto;
    padding:10mm;    

}

.container{
    font-size: 1.5vw;
    height: auto;
    width: 20%;

}

.inner_container{
    font-size: 2vw;
    height: auto;
    width: 40%;
}

.pictures_container{
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}
.topnav{
    background-color: black;
    overflow: hidden;
}

.topnav a{
    float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  

a{
    display: block;
    padding: 8px;
}