
p{
    text-align: center;
    color: #5A74ED;
}

h1{
    color: #5A74ED;
    text-align: center;
    font-size: 36px;
    font-family:monospace;
}
h2{
  color: #5A74ED;
  font-family:monospace;
  font-size: 24px;
  padding-left:10mm;
}

h4{
  padding:10mm;
  font-size: 16px;
  font-family: monospace;
  text-align: center;
}

img{
    width: 25%;
    height: auto;
    padding:10mm;    

}

.container{
    font-size: 1.5vw;
    height: auto;
    width: 20%;

}

.inner_container{
    font-size: 2vw;
    height: auto;
    width: 40%;
}

.pictures_container{
    display: flex;
    justify-content: center;
    padding-left: 15vw;
    padding-right: 15vw;
}

.logo_image{
  width: 35%;
  height: auto;
  padding:10mm;    
}

a.pictures_container{
    
    display: flex;
    justify-content: center;
    padding: 15vw;  

}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E8C336;
  }

  li {
    float: left;
  }

  .skills{
    padding-left: 15mm;
    font-size: 16px;
    color: #5A74ED;
  font-family:monospace;
  }
  
  .skillitems{
    float: none;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #5A74ED;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #5A74ED;
    color: white;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  li a.active {
    background-color: #5A74ED;
    color: white;
  }

  .animateDoughbaby {
    width: 200px;
    height: 200px;
    background-color: #EF527D;
    animation-name: doughbaby;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes doughbaby {
      0%   {background-color: #EF527D;}
      33%  {background-color: beige;}
      66%  {background-color:#9DCAAD;}
      
  }

  .animateReligion {
    width: 200px;
    height: 200px;
    background-color: grey;
    animation-name: religion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes religion {
      0%   {background-color: gray;}
      33%  {background-color: #657E83;}
      66%  {background-color:white;}
      
  }

  .animatePoker {
    width: 200px;
    height: 200px;
    background-color: #00818A;
    animation-name: poker;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes poker {
      0%   {background-color: #008184;}
      25%   {background-color: black;}
      50%  {background-color: white;}
      75%  {background-color:#980000;}
      
  }
  .animateHarvest {
    width: 200px;
    height: 200px;
    background-color: #F55C5C;
    animation-name: harvest;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes harvest {
      0%   {background-color: #F55C5C;}
      25%   {background-color: black;}
      50%  {background-color: white;}
      75%  {background-color:gray;}
      
  }


  .project-animate {
    
    position:relative;
    animation:glide 5s ease-in-out alternate infinite;
 }
 
 @keyframes glide  {
    from {
       left:70%;
       top:0px;
    }
    
    to {
       left:0px;
       top:0px;
    }
 
 }