
p{
    text-align: center;
    
}

h1{
    
    text-align: center;
    font-size: 36px;
    font-family:monospace;
}
h2{
  
  font-family:monospace;
  font-size: 24px;
  padding-left:10mm;
}

h4{
  padding:10mm;
  font-size: 16px;
  font-family: monospace;
  text-align: center;
}

img{
    padding-left: 10mm;
    padding-right: 10mm;   
    padding-top: 10mm;   
    padding-bottom: 10mm;      

}


.mock-up{
  width: 200%;
    height: auto;
    padding-top: 0; 
}

.all-in-one{
  width: 100%;
    height: auto;
    padding-left: 0mm;  
}

.wave-design{
  background: rgba(0,127,136);

}

.container{
    font-size: 1.5vw;
    height: auto;
    width: 20%;

}

.quotes {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}

.inner_container{
    font-size: 2vw;
    height: auto;
    width: 40%;
}

.pictures_container{
    display: flex;
    justify-content: center;
    padding-left: 15vw;
    padding-right: 15vw;
}
.animation-display{
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.image{
  width: 40%;
  height: auto;
}

.logo_image{
  width: 50%;
  height: auto;
  padding:10mm;    
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.button_style{
background-color:  #00818A;
border-color: #00818A;
}
a.pictures_container{
    
    display: flex;
    justify-content: center;
    padding: 15vw;  

}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E8C336;
  }

  li {
    float: left;
  }

  .form-class{
    padding: 24mm;
  }

  .skills{
    padding-left: 15mm;
    padding-right: 15mm;
    font-size: 16px;
    
  font-family:monospace;
  }
  
  .skillitems{
    float: none;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #00818A;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: ghostwhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #00818A;
    color: white;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  li a.active {
    background-color: #00818A;
    color: white;
  }

  .animateDoughbaby {
    width: 200px;
    height: 200px;
    background-color: #EF527D;
    animation-name: doughbaby;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes doughbaby {
      0%   {background-color: #EF527D;}
      33%  {background-color: beige;}
      66%  {background-color:#9DCAAD;}
      
  }

  .animateAndy {
    width: 200px;
    height: 200px;
    background-color: green;
    animation-name: andy;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes andy {
      0%   {background-color: green;}
      33%  {background-color: grey;}
      66%  {background-color:white;}
      
  }

  .animateBlindsUp {
    width: 200px;
    height: 200px;
    background-color: #0F6CC9;
    animation-name: doughbaby;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes doughbaby {
      0%   {background-color: #0F6CC9;}
      50%  {background-color: white;}
      
      
  }

  .animateReligion {
    width: 200px;
    height: 200px;
    background-color: grey;
    animation-name: religion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes religion {
      0%   {background-color: gray;}
      33%  {background-color: #657E83;}
      66%  {background-color:white;}
      
  }

  .animatePoker {
    width: 200px;
    height: 200px;
    background-color: #00818A;
    animation-name: poker;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes poker {
      0%   {background-color: #008184;}
      25%   {background-color: black;}
      50%  {background-color: white;}
      75%  {background-color:#980000;}
      
  }
  .animateHarvest {
    width: 200px;
    height: 200px;
    background-color: #F55C5C;
    animation-name: harvest;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
    @keyframes harvest {
      0%   {background-color: #F55C5C;}
      25%   {background-color: black;}
      50%  {background-color: white;}
      75%  {background-color:gray;}
      
  }


  .project-animate {
    
    position:relative;
    animation:glide 5s ease-in-out alternate infinite;
 }
 
 @keyframes glide  {
    from {
       left:70%;
       top:0px;
    }
    
    to {
       left:0px;
       top:0px;
    }
 
 }

 .slide1,.slide2,.slide3,.slide4{

  display: block;
  position: absolute;
  
 }

 .slide1{
   animation: fade1 10s infinite;
 }

 .slide2{
  animation: fade2 10s infinite;
}

.slide3{
  animation: fade3 10s infinite;
}

.slide4{
  animation: fade4 10s infinite;
}

@keyframes fade1{
  0%{opacity: 1;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes fade2{
  0%{opacity: 0;}
  25%{opacity: 1;}
  50%{opacity: 0;}
  75%{opacity: 0;}
  100%{opacity: 0;}
}

@keyframes fade3{
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 1;}
  75%{opacity: 0;}
  100%{opacity: 0;}
}

@keyframes fade4{
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}